<!DOCTYPE html>
<html Xmlns: th="http://www.thymeleaf.org">
    <head>
        <title>Control de Cliente</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Control de Clientes</a>
            <a class="navbar-brand" href="/reservas">Control de Reservas</a>
            <a class="navbar-brand" href="/tours">Control de Tours</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                </ul>
            </div>
        </nav>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding-right: 50%">
            <a class="btn btn-success" href="/nuevo">Agregar Cliente</a>
        </div>
        <br>
        <nav class="container text-center">
            <table class="table">
                <thead class="thead-dark">
                <div style="color: blue"><h1>Lista de clientes</h1></div>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente : ${listaCliente}">
                        <td th:text="${cliente.id}"></td>
                        <td th:text="${cliente.nombre}"></td>
                        <td th:text="${cliente.apellidos}"></td>
                        <td th:text="${cliente.cedula}"></td>
                        <td th:text="${cliente.correo}"></td>
                        <td th:text="${cliente.telefono}"></td>
                        <td>
                            <a class="btn btn-primary" th:href="@{'/editar/' + ${cliente.id}}">Editar</a>
                            &nbsp;
                            <a class="btn btn-danger" th:href="@{'/eliminar/' + ${cliente.id}}">Eliminar</a>
                        </td>
                    </tr>

                </tbody>
            </table>

        </tbody>
    </table>
</nav>
</body>
</html>